/* css goes here for mobile web comics */
@charset "UTF-8";
/* CSS Document */



/*-------------TOP AREA----------------*/
body {
	max-width: 100%;
	font-size: 100%; //also include this line in any media queries you do
}
/*------------------------*/
wrapper {
	max-width: 100%;
}
/*------------------------*/
header {
	max-width: 100%;  /*this needed to be max */
	padding: 1em 1em 1em 1em;
	background-color: blue;
}
/*------------------------*/
h1 {
	font-family: 'Gloria Hallelujah', cursive;
	//font-weight: normal;
	font-size: 2.75em;
	text-align: center;
	color: #fff;
	width: 60%; //234.49 / 350.53 66.895843%  //this one didnt need to be max
	border: 5px solid red;
	margin: auto auto; //but it was missing this!!!! use chroms inspect always!!!
}
/*-------------END OF TOP AREA----------------*/
/*-------------COMIC AREA----------------*/
.comic {
	max-width: 100%;
	height: auto;
	padding: 2em;
	background-color: lime;
}
/*------------------------*/
.box {
	max-width: 100%;
	min-height: 5em;
	background-color: purple;
	border: 1px solid red;
	padding-bottom: 0.5em;
}
/*------------------------*/
figure.img-container{
	//desktop---float: left;
	max-width: 100%;
	height: auto;
	padding: 1em;
}
/*-------------END OF COMIC AREA----------------*/
/*-------------FOOTER AREA----------------*/
a {
	text-decoration: none;
	color: black;	
	max-width: 100%;
}

footer {
	max-width: 100%;
	height: auto;
	padding-left: 2em;
	padding-right: 2em;
	background-color: red;
}

footer ul {
	margin: 0px;
	padding: 0px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 2em;
	list-style-type: none;
	margin-bottom: 0px;
	border: 1px solid #333;
}

footer ul li{
	display: inline;
	border: 1px solid #333;	
	text-align: center;
}
/*h2 { 
	font: 2em 'Gloria Hallelujah', cursive;
	//font-weight: normal;
	/*might change to ul later... not sur eon the sematics*!/
	text-align: center;
	color: #fff;
	width: 60%; //234.49 / 350.53 66.895843%  //this one didnt need to be max
	border: 5px solid red;
	margin: auto auto; //but it was missing this!!!! use chroms inspect always!!!	
}*/

/*-------------END OF FOOTER AREA----------------*/
/*-------------BLOG AREA----------------*/
p {
	font-family: 'Abel', sans-serif;
}
/*-------------COPYRIGHT AREA----------------*/
/*------------------------*/
/*-------------END OF COPYRIGHT AREA----------------*/




/*-------------STUFF THAT DOESNT REALY WORK----------------*/


//***note things as  //mobile width:whatever;  to note that i have to chang eit for desktop //desktop: width; 
/*
media quesries
footer ull {
	float: none; //for mobile mode
}*/

/*img{
	float: left;  //then on comic on desktop max-width=like 80% to constrain
	max-width: 100%;
}*/

/*.buttonbox { 
	width: 46%; 
	border: 1px solid blue;
	float: left;
	//it needs a clear or something for it to sit beside each other
	padding-right: 1em;
	padding-left: 1em;
	//it becomes 50 50 50 50 in mobile...or 25 25 25 25 in desktop
}*/
