/* css goes here for mobile web comics */
@charset "UTF-8";
/* CSS Document */
//font-family: 'Abel', sans-serif;
//font-family: 'Gloria Hallelujah', cursive;

/*-------------TOP AREA----------------*/
body {
	max-width: 100%;
	font-size: 100%; //also include this line in any media queries you do
}
/*------------------------*/
wrapper {
	max-width: 100%;
}
/*------------------------*/
h1 {
font-family: 'Gloria Hallelujah', cursive;
//font-weight: normal;
font-size: 2.75em;
text-align: center;
color: #fff;
width: 60%; //234.49 / 350.53 66.895843%  //this one didnt need to be max
border: 5px solid red;
margin: auto auto; //but it was missing this!!!! use chroms inspect always!!!
}
/*------------------------*/


/*-------------COMIC AREA----------------*/




/*-------------FOOTER AREA----------------*/
/*-------------BLOG AREA----------------*/
/*-------------COPYRIGHT AREA----------------*/





***note things as  //mobile width:whatever;  to note that i have to chang eit for desktop //desktop: width; 


h2 { 
	font: 2em 'Gloria Hallelujah', cursive;
	//font-weight: normal;
	/*might change to ul later... not sur eon the sematics*/
	text-align: center;
	color: #fff;
	width: 60%; //234.49 / 350.53 66.895843%  //this one didnt need to be max
	border: 5px solid red;
	margin: auto auto; //but it was missing this!!!! use chroms inspect always!!!	
}

a{
	text-decoration: none;
	color: black;	
	max-width: 100%;
}

p {
	font-family: 'Abel', sans-serif;
}

 .box {
	max-width: 100%;
	min-height: 5em;
	background-color: purple;
	border: 1px solid red;
	padding-bottom: 0.5em;
}

/*img{
	float: left;  //then on comic on desktop max-width=like 80% to constrain
	max-width: 100%;
}*/


/*----------------SPECIFIC----------------*/
header {
	max-width: 100%;  /*this needed to be max */
	padding: 1em 1em 1em 1em;
	background-color: blue;
}

.comic {
	max-width: 100%;
	height: auto;
	padding: 2em;
	background-color: lime;
}

/*footer {
	max-width: 100%;
	height: auto;
	padding: 1em;
	background-color: red;
}*/

footer ul li{
	display: inline;
}

footer ul {
	margin:
	padding
	font fami
	font size
	list-style-type: none;
	margin-bottom: ;
}\

//THIS IS THE COMIC FRAMES

figure.img-container{
	//float: left; onyl for media query
	max-width: 100%;
	height: auto;
	padding: 1em;
}

.buttonbox { 
	width: 46%; 
	border: 1px solid blue;
	float: left;
	//it needs a clear or something for it to sit beside each other
	padding-right: 1em;
	padding-left: 1em;
	//it becomes 50 50 50 50 in mobile...or 25 25 25 25 in desktop
}


media quesries
footer ull {
	float: none; //for mobile mode
}

